---
name: emusort
channels:
  - conda-forge
  - pytorch
dependencies:
  - cudatoolkit
  - cxx-compiler
  - cython
  - h5py
  - hdbscan
  - ipympl
  - ipywidgets
  - joblib
  - jupyter
  - libxcb
  - loky
  - matplotlib
  - networkx
  - numba
  - numcodecs<0.16.0 # thanks to Josh Posen for this suggestion to resolve a conflict
  - numpy
  - pandas
  - pip
  - pybind11
  - pyqt=5
  - pyqt5-sip
  - pyqtwebengine
  - pyqtgraph
  - python>=3.8,<=3.10 # phy gui makes py311 the maximum, due to imp dependency
  - pytorch
  - torchvision
  - torchaudio
  - ruamel.yaml
  - scikit-learn>1.3.2
  - scipy
  - tqdm
  - xarray
  - zarr
  - pip:
        - "-e ./src/emusort/spikeinterface" # install local spikeinterface for EMUsort
        - "-e ./src/emusort/Kilosort4" # install local Kilosort4 for EMUsort
        - git+https://github.com/cortex-lab/phy.git@7a2494b # latest version of phy from GitHub
        - "-e ." # finally install EMUsort locally
